
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');


*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: 0.2s ease-in-out;
    color: #000;
    text-decoration: none;
}

.logo-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;;
}
::selection{
    background-color: var(--Soft-Red);
    color: #fff;
}

section {
    padding: 1rem 9%;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    font-size: 5rem;
    color: var(--Very-Dark-Blue);
    margin-top: 10rem;
    margin-bottom: 5rem;
}


.heading h1{
    padding-bottom: 2rem;
}


.heading p{
    max-width: 60rem;
    margin: auto;
    color: var(--Grayish-Blue);
    font-size: 2.5rem;
}


.all-btn{
    padding: 1rem 3rem;
    font-size: 2.5rem;
    background-color: var(--Soft-Green);
    border-radius: .5rem;
    color: #fff;
}

.all-btn:hover{
    background-color: transparent;
    color: var(--Soft-Green);
    border: 2px solid var(--Soft-Green);
}


:root{
    --Soft-Green: hsl(150, 59%, 41%);
    --Soft-Red: hsl(0, 94%, 66%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
    --box-shadow: .5rem .5rem  0 hsl(135, 30%, 44%);
    --text-shadow: .4rem .4rem  0 rgba(0, 0, 0, .2);
    --border: .2rem  solid var(--green);
}

.header{
    padding: 3rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0%;
    left: 0;
    z-index: 10000;
    background-color: #fff;
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, .1);
}


.header .logo{
    cursor: pointer;
    font-size: 2.5rem;
}


.header .navbar a{
    margin-left: 2rem;
    font-size: 1.9rem;
    text-transform: uppercase;
}


.header .navbar a:hover{
    color: var(--Soft-Red);
}


.header .navbar .btn{
    padding: .6rem 3rem;
    background-color: var(--Soft-Red);
    color: #fff;
    border-radius: .5rem;
}

.header .navbar .btn:hover{
    color: var(--Soft-Red);
    background-color: transparent;
    border: 2px solid var(--Soft-Red);
}

#menu-btn{
    padding: 1rem 1rem;
    background-color: #eee;
    font-size: 3rem;
    color: var(--Soft-Green);
    border-radius: .5rem;
    cursor: pointer;
    display: none;
}

ul {
    list-style-type: none; /* Видаляє крапочки */
    padding-left: 0; /* Видаляє відступи зліва */
}


@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    
}

@media (max-width: 768px){
    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 115%;
        right: 2rem;
        box-shadow: var(--box-shadow);
        width: 33rem;
        border-radius: .5rem;
        border: 2px solid var(--Soft-Green);
        background-color: #fff;
        transform: scale(0);
        transform-origin: top right;
    }

    .header .navbar.active{
        transform: scale(1);
    }

    .header .navbar a{
        margin: 2.5rem;
        text-align: center;
        display: block;
        font-size: 2rem;
    }
}


@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}

.home{
    padding-top: 15rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}


.home .image{
    flex: 1 1 7rem;
}


.home .image img{
    width: 100%;
    margin-top: 5em;
}


.home .content{
    flex: 1 1 45rem;
}


.home .content h1{
    font-size: 7rem;
    padding-block-end: 1rem 0;
    color: var(--Very-Dark-Blue);
}

.home .content p{
    font-size: 2.5rem;
    padding: 1rem 0;
    max-width: 800rem;
    color: var(--Grayish-Blue);
    padding-bottom: 4rem;
}

.section-m .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 3rem 0;
}

.section-m .row .image{
    flex: 1 1 25rem;
}


.section-m .row .image img{
    width: 100%;
}


.section-m .row .content{
    flex: 1 1 100rem;
}

.section-m .row .content h2{
    font-size: 5rem;
}
.section-m .row .content p{
    font-size: 3rem;
    padding: 1rem 0;
    color: var(--Grayish-Blue);
    padding-bottom: 4rem;
}

.download .box-container{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.download .box{
    border: 2px solid var(--Soft-Green);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}
.download .box:hover{
    border: 2px solid var(--Soft-Green);
    box-shadow: none;
}


.download .box h3{
    font-size: 3rem;
    padding: 1rem 0;
    color: var(--Very-Dark-Blue);
}



.download .box p{
    font-size: 1.7rem;
    padding-bottom: 2.5rem;
    color: var(--Grayish-Blue);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--green);
}

.footer .box-container .box a:hover i{
    padding-right:1rem;
}


.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: #000;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}


.footer .credit span{
    color: var(--Soft-Red);
    cursor: pointer;
}

form {
    padding: 2rem 9%;
    display: flex;
    flex-direction: column; /* Розмістити елементи вертикально */
    justify-content: space-between;
    align-items: flex-start; /* Вирівняти елементи ліворуч */
    z-index: 10000;
    font-size: 3rem;
    background-color: #ffffff;
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, .1);

}

/* Стилі для лейблів */
form label {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/* Стилі для інпутів та текстових полів */
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.section-m .box{
    border: 2px solid var(--Soft-Green);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin-bottom: 10rem;
}
.section-m .box:hover{
    border: 2px solid var(--Soft-Green);
    box-shadow: none;
}


.section-m .box h3{
    font-size: 3rem;
    padding: 1rem 0;
    color: var(--Very-Dark-Blue);
}



.section-m .box p{
    font-size: 1.7rem;
    padding-bottom: 2.5rem;
    color: var(--Grayish-Blue);
}